

img {
    background-color: red;
}



footer {
    background-color: black;
}

/* navbar */

header {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
    text-align: center;
    display: list-item;
    
}

.navbar {
    background-color: #1E90FF;
}

@media screen and (min-width: 768px) {
    #nalinks {
        justify-content: space-between;
        display: flex;
    }
}